In [ ]:
with open('text1.txt') as text:
    words_1 = text.read().lower().split()
    unique_1 = set(words_1)

In [25]:
# Convert the text to lowercase and split into words to make a bag of words
unique_1

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [20]:
with open('text2.txt') as text:
    words_2 = text.read().lower().split()
    unique_2 = set(words_2)

In [21]:
unique_2

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [26]:
all_unique = set()

In [28]:
all_unique.update(unique_1)
all_unique

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [ ]:
all_unique.update(unique_2)
all_unique
# The union of two sets contains all unique elements from both sets
# unique words from both documents/texts

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [44]:
vocab = dict()
i = 0

for word in all_unique:
    vocab[word] = i
    i += 1

In [45]:
vocab

{'water': 0,
 'waves': 1,
 'about': 2,
 'story': 3,
 'are': 4,
 'furry': 5,
 'fun': 6,
 'pets': 7,
 'a': 8,
 'canine': 9,
 'surfing': 10,
 'this': 11,
 'popular': 12,
 'our': 13,
 'is': 14,
 'sport': 15,
 'animals': 16,
 'catching': 17,
 'dogs': 18}

In [60]:
freq_1 = [0] * len(vocab)
freq_2 = [0] * len(vocab)
all_words = [''] * len(vocab)

In [61]:
freq_1, freq_2, all_words

([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''])

In [62]:
vocab

{'water': 0,
 'waves': 1,
 'about': 2,
 'story': 3,
 'are': 4,
 'furry': 5,
 'fun': 6,
 'pets': 7,
 'a': 8,
 'canine': 9,
 'surfing': 10,
 'this': 11,
 'popular': 12,
 'our': 13,
 'is': 14,
 'sport': 15,
 'animals': 16,
 'catching': 17,
 'dogs': 18}

In [63]:
with open('text1.txt') as text:
    text1 = text.read().lower().split()

In [64]:
for word in text1:
    word_ind = vocab[word]
    freq_1[word_ind] += 1

In [65]:
freq_1

[0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 2]

In [79]:
#or using Counter from collections
from collections import Counter

freq_1_counter = Counter(text1)
freq_1_counter

Counter({'dogs': 2,
         'this': 1,
         'is': 1,
         'a': 1,
         'story': 1,
         'about': 1,
         'our': 1,
         'canine': 1,
         'pets': 1,
         'are': 1,
         'furry': 1,
         'animals': 1})

In [66]:
with open('text2.txt') as text:
    text2 = text.read().lower().split()

In [67]:
for word in text2:
    word_ind = vocab[word]
    freq_2[word_ind] += 1

In [68]:
freq_2

[1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 2, 1, 1, 0, 3, 1, 0, 1, 0]

In [80]:
#or using Counter from collections
freq_2_counter = Counter(text2)
freq_2_counter

Counter({'is': 3,
         'surfing': 2,
         'this': 1,
         'story': 1,
         'about': 1,
         'catching': 1,
         'waves': 1,
         'fun': 1,
         'a': 1,
         'popular': 1,
         'water': 1,
         'sport': 1})

In [69]:
for word in vocab:
    word_ind = vocab[word]
    all_words[word_ind] = word

In [70]:
all_words

['water',
 'waves',
 'about',
 'story',
 'are',
 'furry',
 'fun',
 'pets',
 'a',
 'canine',
 'surfing',
 'this',
 'popular',
 'our',
 'is',
 'sport',
 'animals',
 'catching',
 'dogs']

In [75]:
import pandas as pd

In [78]:
bag_of_words = pd.DataFrame(columns=all_words, data=[freq_1, freq_2], index=['text1', 'text2'])
bag_of_words

,water,waves,about,story,are,furry,fun,pets,a,canine,surfing,this,popular,our,is,sport,animals,catching,dogs
text1,0,0,1,1,1,1,0,1,1,1,0,1,0,1,1,0,1,0,2
text2,1,1,1,1,0,0,1,0,1,0,2,1,1,0,3,1,0,1,0

## Another Implementation

In [84]:
all_words = list(set(text1 + text2))
all_words

['water',
 'story',
 'are',
 'fun',
 'canine',
 'animals',
 'catching',
 'dogs',
 'waves',
 'about',
 'furry',
 'pets',
 'a',
 'surfing',
 'this',
 'popular',
 'our',
 'is',
 'sport']

In [85]:
from collections import Counter

In [86]:
one_count = Counter(text1)
two_count = Counter(text2)

In [87]:
import pandas as pd

In [88]:
pd.DataFrame([one_count, two_count], index=['text1', 'text2']).fillna(0).astype(int)

,this,is,a,story,about,dogs,our,canine,pets,are,furry,animals,surfing,catching,waves,fun,popular,water,sport
text1,1,1,1,1,1,2,1,1,1,1,1,1,0,0,0,0,0,0,0
text2,1,3,1,1,1,0,0,0,0,0,0,0,2,1,1,1,1,1,1